#!/usr/bin/env bash

###### Shortcuts
alias h='history'
alias j='jobs'

# GIT Aliases
alias g="git"
alias gf='git fetch'
alias gd='git diff'
alias gas='git add'
alias gaa='git add .'
alias gb='git branch'
alias gs='git status'
alias gc='git checkout'
alias gcm='git commit -m'
alias gcb='git checkout -b'
alias gpo='git push origin'
alias glo='git log --oneline'
alias glcg="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

###### Changing directories
# Parent dirs
alias .='cd ../'
alias ..="cd ../.."
alias ...="cd ../../.."
alias ....="cd ../../../.."
alias .....="cd ../../../../.."

# Directories shortcuts
alias main="cd && cd Work/test"
alias vut-net-app='cd /Users/mac/Work/test/vut-net/vut-net-app'
alias vut-net-api='cd /Users/mac/Work/test/vut-net/vut-net-api'
alias job='cd ~/Work/test/job/startupcraft'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

###### Overrides
alias cat="ccat"
alias l='ls -lF ${colorflag}' # List all files colorized in long format
alias la='ls -laF ${colorflag}' # List all files colorized in long format, including dot files
alias lsd='ls -lF ${colorflag} | grep --color=never "^d"' # List only directories
alias ls='command ls ${colorflag}' # Always use color output for `ls`
alias grep='grep --color=auto' # Always enable colored `grep` output

###### Methods/Helpers
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"
alias path='echo -e ${PATH//:/\\n}'
alias pass="openssl rand -base64 $1"
alias port_is_used="nc -l $1"
alias process_id="lsof -wni tcp:$1"
alias new-alias='python ~/.new-alias'

###### Other
# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; sudo gem cleanup'
# Open Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
