[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true

[user]
	name = Artem Gurzhii
	email = artem.gurzhii@gmail.com

[core]
	autocrlf = false
	safecrlf = false
	editor = vim

[color]
	ui = true

[push]
	default = tracking
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[http]
	sslVerify = false
